:host {
  display: block;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f8fa;
  padding-top: 64px; /* Space for the fixed navbar */
}

.app-body {
  display: flex;
  flex-grow: 1;
  padding-left: 184px; /* width of sidebar */
}

.content-wrapper {
  flex-grow: 1;
  padding: 24px 32px;
  min-width: 0; 
}
